{{!-- need to link css / make the recipe names clearly clickable --}}


<div>
    {{#each recipes}}
      <div class="recipe-card">
      <h3 class="recipe-name" data-id={{id}}>{{name}}</h3>
      <p>{{description}}</p>
      <p><span>Flavor : </span>{{flavor}}</p>
      <p><span>Cuisine : </span>{{cuisine}}</p>
      {{!-- step.details will show intructions --}} 
   
      </div>
    {{/each}}
  </div>
  <script src="/js/recipe.js"></script>